---
layout: base
title: Home
---

<div class="m-container">
  <div class="m-content">
    <div class="m-content-header">
        <span class="m-header">Archive</span><i class="am-icon-archive"></i>
        <hr>
    </div>
    
    <div class="m-archive">
      <ul>
      {% for post in site.posts reverse %}
      {% if post.layout == "post" %}
        <li>
          <h3>
            <small>{{ post.date | date: "%Y:%m:%d" }}</small>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
