body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

body {
    background: #fafafa;
    padding-top: 50px;
}

a:link {
    color: black;
    text-decoration: none;
}
a:active {
    color: red;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

code {
    font-size: 14px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 4px;
    border-radius: 2px;
    background-color: #efefef;
}

pre {
    padding: 8px 15px;
    background: none repeat scroll 0% 0% #efefef;
    border-radius: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
}

pre code {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    border-radius: 2px;
    background-color: #efefef;
}

.container {
    width: 840px;
    margin: auto;
}

.header {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.header .title {
    float: left;
}

.header .title span {
    font-size: 34px;
}

.header .links {
    float: right;
}

.header .links a {
    padding-right: 10px;
}

.menu {
    width: 840px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
}

.menu ul {
    margin: auto;
    width: 840px;
}

.menu li {
    list-style: none;
    float: left;
}

.menu li a {
    padding-left: 5px;
    padding-right: 10px;
}

.content {
    margin: auto;
    width: 840px;
}

.content .archive-list {
    width: 800px;
    padding-left: 20px;
    margin: auto;
}

.content .archive-list li {
    padding-top: 10px;
    font-size: 22px;
}

.content .archive-list span {
    float: right;
}

.footer {
    width: 840px;
    padding-top: 80px;
}

.footer .copyright {
    width: 450px;
    margin: auto;
    margin-bottom: 30px;
}

.footer .copyright hr {
    margin-bottom: 20px;
}

.footer .copyright p {
    text-align: center;
    font-size: 16px;
    line-height: 8px;
}

.article .article-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.article .article-date{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.article .article-content {
    line-height: 1.8;
    font-weight: 500;
}

.article .article-content p {
    font-size: 18px;
}

.article .article-content h1 {
    font-size: 30px;
    line-height: 2.0;
}

.article .article-content h2 {
    font-size: 26px
    line-height: 2.0;
}

.article .article-content h3 {
    font-size: 22px;
    line-height: 2.0;
}

.article .article-content h4 {
    font-size: 18px;
    line-height: 2.0;
}

.article .article-content h5 {
    font-size: 14px;
    line-height: 2.0;
}

.article .article-content h6 {
    font-size: 10px;
    line-height: 2.0;
}

.article .article-content ul{  
    list-style:disc inside none; 
    margin-left: 4em; 
}
.article .article-content ul ul{  
    list-style: circle inside none; 
    margin-left: 3em; 
}
.article .article-content ul ol{  
    list-style: decimal inside none; 
    margin-left: 3em; 
}
.article .article-content ol{
    list-style:demical inside none;  
    margin-left: 4em;  
}
.article .article-content ol ul{  
    list-style: circle inside none; 
    margin-left: 3em; 
}
.article .article-content ol ol{  
    list-style: decimal inside none; 
    margin-left: 3em; 
}

.post-link {

}

.post-link .previous {

}

.post-link .next {

}
