<div class="profilepic">
    <img src="/public/img/head.jpeg" alt="Profile Picture" style="width: 160px;" />
</div>
<hgroup>
  <h1><a href="/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
<nav id="main-nav">{% include navigation.html %}</nav>

<nav id="sub-nav">
    <!--
    {% if site.author.github %}
    <span class="tag" style="padding-right: 20px">
    <a href="{{ site.author.github }}"><i class="fa fa-github fa-3x"></i></a>
    </span> 
    {% endif %}
    -->
    {% if site.author.weibo %}
    <span class="tag" style="padding-right: 20px">
    <a href="{{ site.author.weibo }}"><i class="fa fa-weibo fa-3x"></i></a>
    </span>
    {% endif %}
    {% if site.author.github %}
    <span class="tag" style="padding-right: 20px">
    <a href="{{ site.author.github }}"><i class="fa fa-github fa-3x"></i></a>
    </span>
    {% endif %}
    <span class="tag" style="padding-right: 20px">
    <a href="/rss.xml"><i class="fa fa-rss fa-3x"></i></a>
    </span>
</nav>
