<div class="profilepic">
	<img src="/public/img/head.jpeg" alt="Profile Picture" style="width: 160px;" />
</div>
<hgroup>
  <h1><a href="/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
<nav id="main-nav">{% include navigation.html %}</nav>
<!--
<nav id="sub-nav">
	<div class="social">
		{% if site.author.github %}
			<i class="fa fa-github"><a href="{{ site.author.github }}"></a></i>
		{% endif %}
		{% if site.author.weibo %}
			<i class="fa fa-weibo"><a href="{{ site.author.weibo }}"></a></i>
		{% endif %}
		<i class="fa fa-rss"><a href="/rss.xml"></a></i>
	</div>
</nav>
-->