<!DOCTYPE HTML>
{% if site.lang %}
<html lang="{{ site.lang }}">
{% else %}
<html>
{% endif %}
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	{% capture description %}
		{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}
	{% endcapture %}
	<meta name="description" content="{{ description }}">
	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="canonical" href="{{ canonical }}">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
	<link href="http://fonts.useso.com/css?family=Open+Sans:300,400,400italic,600,700,800" rel="stylesheet" type="text/css">
	<link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/public/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/public/css/code.css" type="text/css">
	<script src="http://libs.useso.com/js/jquery/1.7.2/jquery.min.js"></script>
	
	<!--百度统计-->
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?3601be0ac702a94d879f3f571cec1e53";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
