			<div id="title">
			    <h1>
			    {% if site.author.github %}
			        <a id="git-ic" href="{{site.author.github}}"><i class="fa fa-github"></i></a>
			    {% endif %}
			    {% if site.author.weibo %}
			    	<a id="weibo-ic" href="{{site.author.weibo}}"><i class="fa fa-weibo"></i></a>
			    {% endif %}
			    	<a id="rss-ic" href="{{ "/rss.xml" | prepend:site.baseurl }}"><i class="fa fa-rss"></i></a>
			        <a id="sitename" href="/">RickGray</a>
			    </h1>
			<div style="block">
			    <p>No hack, no life.</p>
			    <hr/>
			</div>
				{% include nav-links.html %}
			</div>
