<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if page.titile %}{{ page.titile }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/public/css/font-awesome.min.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" href="{{ "/public/css/pygments.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" href="{{ "/public/css/styles.css" | prepend:site.baseurl }}">
</head>
<body>
<div class="container">
    {% include header.html %}

    {% include menu.html %}

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}
</div>
</body>
</html>
